body{
	margin: 0;
	padding: 0;
}
.nature-background{
background: 'url(../Images/nature.jpg)';
background-position:center;
background-repeat:no-repeat;
background-size:cover;
height: '30vh'; 
width: '100%';
}
.m-top-nav{
	Position:fixed;
	z-index:1000;
	top:0;
	width:100%;
	background:#E5ECE6;
	display:flex;
	align-items:center;
	height:44.8px;
	padding:0px 15px;
}
.m-top-nav .m-top-nav-title{
	font-size:5.0vw;
	font-family:sans-serif;
	color:rgba(0,0,0,0.4);
	text-transform:uppercase;
	font-weight:bold;
	padding-left:7px;
}

/*RETURN TAB STARTS HERE*/
.m-top-nav .return{
	padding-left:8px;
	height:100%;
	width:45px;
	display:flex;
	align-items:center;
}
.m-top-nav .return:before{
	content: '';
    height: 13px;
    width: 13px;
    position: absolute;
    border-bottom: 3px solid rgba(0,0,0,0.6);
    border-left: 3px solid rgba(0,0,0,0.6);
    transform: rotate(45deg);
}
.m-top-nav .return:after{
    content: '';
    height: 83px;
    width: 22px;
    position: absolute;
    transform: translate(0,-48.3%);
    border-bottom: 3px solid rgba(0,0,0,0.6);
}

/*RETURN TAB ENDS HERE*/


.user-detail{
	width: 100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.user-detail .profileImageParent{
	width: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.user-detail .profile-image{
	    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    transform: translate(0,-50%);
    border: 5px solid #eaeaea;
}.user-detail .profile-image .pp{
	width: 100%;
}

.user-detail .user-name{
	width: 100%;
	text-align: center;
	margin-top:-65px;
	font-family:sans-serif;
	font-size:7vw;
	font-weight:bold;
	color:#411AE2;
	text-transform: capitalize;
}
.user-detail .edit-option{
	display:flex;
	align-items:center;
	justify-content:center;
	width: 100%;
	justify-content: center;
}

.user-detail .edit-option .edit-profile{
	font-family:sans-serif;
	font-weight:bold;
	font-size:3.0vw;
	padding-right:10px;
	padding-left:20px;
	color:#fff;
	height:45px;
	overflow:hidden;
	border-radius:8px;
	background:#55975E;
	display:flex;
	align-items:center;
	justify-content:center;
}
.user-detail .edit-option .edit-profile img{
    width: 20px;
    height: 20px;
}
.user-detail .edit-option .option{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-left:14px;
	height: 45px;
    width: 65px;
	background:#999;
	border-radius:8px;
}
.user-detail .edit-option .option .icons{
	height:13px;
	width:13px;
	background:#473C3C;
	border-radius:50%;
}
.user-detail .edit-option .option .icons:before{
	content:'';
	margin-left:12px;
	position:absolute;
	height:13px;
	width:13px;
	background:#473C3C;
	border-radius:50%;
}
.user-detail .edit-option .option .icons:after{
	content:'';
	margin-left:-24px;
	position:absolute;
	height:13px;
	width:13px;
	background:#473C3C;
	border-radius:50%;
}

/*INFORMATION CSS STARTS HERE*/
.information{
	background:#F1F1F1;
	margin-top: 20px;
	display:flex;
	flex-direction:column;
}
.information div{
	display:flex;
	align-items:center;
	padding-bottom:10px;
}
.information div{
	font-size: 3.8vw;
    font-family: sans-serif;
    font-weight: 600;
    color: #222;
}
.information div img{
	margin-right: 20px;
    height: 30px;
    width: 30px;
    margin-left: 20px;
}
.information div span{
	color:#777;
}

/*INFORMATION CSS ENDS HERE*/


/*ADS AND WISHES TAB STARTS HERE*/
.ads-wish{
	height:40px;
	width:100%;
	display:grid;
	grid-template-columns: 50% 50%;
	background:#ffeafe;
	text-align:center;
	align-items:center;
}
.ads-wish .myads{
	background:#0021F6;
	font-family:sans-serif;
	font-weight:bold;
	font-size:5vw;
	color:#fff;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}
.ads-wish .mywishes{
	background:#707070;
	font-family:sans-serif;
	font-weight:bold;
	font-size:5vw;
	color:#fff;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}


.popup-options {
	visibility: hidden;
    width: 132px;
    padding: 6px;
    background: #999999;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 7px;
    position: absolute;
    margin-top: 0;
    transform: translate(46%, 91%);
}

.show{
	visibility: visible;
	animation:fadeIn 0.3s;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.popup-options::after {
    content: "";
    left: 60%;
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #999999 transparent;
    bottom: 98%;
}


.popup-options div {
	text-align: center;
	box-sizing: border-box;
	font-size:auto;
	width: 100%;
	padding:10px;
	border-radius:8px;
}
.popup-options div:active {
	background-color:#ffffff87;
}

/*ADS AND WISHES TAB ENDS HERE*/

/*CSS FOR STATUS BAR STARTS HERE*/
.status-container{
  display: flex;
  width: 100%;
  justify-content: space-around;
  background: #45ddff;
  font-family: sans-serif;
  font-weight: bold;
  align-items: center;
}
.status-container div{
  width: 100%;
  text-align: center;
}

body{
  margin: 0px;
}
/*CSS FOR STATUS BAR ENDS HERE*/