.ChatTopnav {
  /* display: flex; */

  box-sizing: border-box;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 1px 2px 5px grey;
  text-transform: uppercase;
  color: grey;
}
/* .slick-active .ChattingTab {
  cursor: pointer;
  box-sizing: border-box;
  color: grey;
  width: 100%;
  text-align: center;
  height: 50px;
  vertical-align: middle;
  border-bottom: 3px solid rgb(29, 157, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
} */
.usermessages {
  height: 88vh;
  overflow: scroll;
  /* background-color: red; */
}
.productimage {
  height: 80px;
  width: 90px;
  background-size: cover;
  background-position: center center;
  border: 1px solid grey;
  border-radius: 5px;
  margin-right: 5px;
}
.chatarchive {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.342);
  box-sizing: border-box;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.leftsidearchive {
  display: flex;
  align-items: center;
}
.rightsidearchive {
  flex-direction: column;
  position: relative;
  display: flex;
  align-items: center;
}
.chatproductinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.chatproductinfo h3 {
  margin: 0;
  color: grey;
}
.deleteproductArchive {
  font-size: 13px;
  cursor: pointer;
  color: grey;
  padding: 10px;
  text-transform: uppercase;
  position: absolute;
  margin-right: 70px;
  margin-top: 10px;
  width: 40px;
  color: #fff;
  cursor: pointer;
  border-radius: 15px;
  background: rgba(255, 0, 0, 0.651);
}
.chattingcomponent {
  height: 87vh;
  overflow: scroll;
}
.accountuicomponent {
  height: 70vh;
  overflow: scroll;
}
.accountuiadscomponent {
  height: 65vh;
  overflow: scroll;
}
