.upload-image-container {
  padding: 10px;
  box-sizing: border-box;
}
.image-max-warn {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: grey;
}

.upload-image-button-container {
  width: 100%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.fileinput {
  position: absolute;
  height: 100px;
  width: 70%;
  opacity: 0;
}

.upload-image-button {
  padding: 20px 10px 20px 10px;
  box-sizing: border-box;
  display: flex;
  background: rgb(143, 6, 143);
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  align-items: center;
}
.show-image-container-image {
  padding-bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 50vh;
  width: 100%;
  background: grey;
  box-sizing: border-box;
  background-size: cover;
  background-position: center center;
}
.upload-image-delete {
  background: red;
  padding: 5px;
  border-radius: 10px;
  opacity: 0.8;
  width: 50px;
  box-sizing: border-box;
  height: 50px;
}
.image-cover-button {
  margin-left: 10px;
  padding: 10px;
  height: 50px;
  box-sizing: border-box;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
}
.selected-images {
  display: flex;
  width: auto;
  overflow: scroll;
}
