.searchBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(128, 128, 128, 0.596);
}
.searchBar input {
  text-transform: capitalize;
  width: 90%;
  border: none;
  outline: none;
}

.locationsearch {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.651);
}
.currentlocprimary {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.651);
}
.locationtype {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 0.5rem;
  width: 90%;
}
.locationtype input {
  height: 100%;
  width: 100%;
  text-transform: capitalize;
  font-size: 15px;
  border: none;
  outline: none;
}
.use-currentloc {
  display: flex;
  align-items: center;
  width: 80%;
}
.use-currentloc h3 {
  font-size: 12px;
  margin: 0;
  color: blue;
}
.use-currentloc p {
  color: grey;
  font-size: 10px;
}

.locreccomendation {
  width: 100%;
}
.location-sugg {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.651);
  padding-left: 15px;
  text-transform: capitalize;
  color: grey;
  font-size: 14px;
}
.loading-loc-sugg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.651);
  flex-direction: column;
}
.loading-loc-sugg div {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
