.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container h2 {
  margin: 0;
  color: grey;
  padding-bottom: 3rem;
}
.login-container input {
  /* height: 2rem; */
  text-transform: capitalize;
  padding: 10px;
  font-size: 1rem;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.login-button {
  padding: 10px;
  background: green;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  width: 90%;
  text-align: center;
  border-radius: 10px;
}
